<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

  <test name="Test">
   <parameter name="browserNameTestNgXml" value="chrome"></parameter>
    <classes>
      <class name="PKG1.Baseclass"/>
      <class name="Test.TestAlert"/>
    </classes>
    
  </test> <!-- Test -->
  
 
</suite> <!-- Suite -->
